DIV.full_page
{
position:fixed;
left:0px;
top:0px;
width:100%;
height:100%;
opacity:0;
z-index:-1;
background-color:gray;
}
DIV.pop_up
{
height:768px;
width:1024px;
position:fixed;
top:50%;
left:50%;
margin-top:-384px;
margin-left:-512px;
opacity:0;	
z-index:-2;
background-color:white;
overflow:hidden;
}
DIV.close
{
position:relative;
top:0%;
left:95%;
width:5%;
height:5%;
text-align:center;
background-color:#DFDFDF;
}
DIV.header
{
margin-left:auto;
margin-right:auto;
width:1024px;
text-align:center;
}

DIV.navbar
{
margin-left:auto;
margin-right:auto;
width:1024px;
font-family:"Arial", Verdana, sans-serif;
font-size:13px;
padding-top:5px;
padding-bottom:5px;
border-top-style:solid;
border-bottom-style:solid;
border-top-width:thin;
border-bottom-width:thin;
height:22px;
}

DIV.content
{
position:relative;
margin-top:14px;
margin-left:auto;
margin-right:auto;
margin-bottom:14px;
width:1024px;
font-family:"Arial", Verdana, sans-serif;
font-size:14px;
text-align:center;
}

DIV.content table
{
width:70%;
margin-left:auto;
margin-right:auto;
}

DIV.page_info
{
font-weight:bold;
color:rgb(170,0,0);
}


DIV.img_thumb
{
width:250px;
height:250px;
border-style:solid;
border-width:thin;
text-align:center;
float:left;
margin:2px;

}

DIV.squares
{
width:32%;
height:140px;
border-style:none;
text-align:center;
float:left;
margin:2px;
}

DIV.clear
{
clear:both;
height:1px;
}

DIV.form_box
{
margin-left:auto;
margin-right:auto;
width:50%;
}


DIV.img_thumb img
{
margin:25px;
}

DIV.log_uname
{
float:left;
}
DIV.log_aname
{
float:left;
text-indent:50px;
}

DIV.footer
{
clear:left;
margin-left:auto;
margin-right:auto;
width:1024px;
text-align:center;
font-family:"Arial", Verdana, sans-serif;
font-size:11px;
border-top:solid;
border-top-width:thin;
}

DIV.show
{
}

.button
{
font-size:13px;
padding:0px;
}


DIV.footer
{
margin-left:auto;
margin-right:auto;
width:1024px;
text-align:center;
font-family:"Arial", Verdana, sans-serif;
font-size:11px;
}

DIV.rightside
{
position:absolute;
right:0px;
top:32px;
margin-left:auto;
width:200px;
float:left;
border-width:1px;
border-style:solid;
}

DIV.rightuser
{
width:198px;
margin-left:1px;
margin-right:1px;
padding:0px;
height:20px;

}

DIV.trash
{
width:198px;
margin-left:1px;
margin-right:1px;
padding:0px;
height:20px;
font-weight:bold;
color:#FF0000;
}

div.draggable_container
{
position:relative;
top:0px;
left:0px;
border-width:0px;
border-style:solid;
height:20px;
width:100%;
}

div.albumDrag
{
position:absolute;
left:0px;
top:0px;
border-width:1px;
border-style:none;
background-color:#FFFFFF;
width:100%;
z-index:0;
font-weight:bold;
}

div.userDrag
{
position:absolute;
left:0px;
top:0px;
border-width:1px;
border-style:none;
background-color:#FFFFFF;
width:100%;
z-index:0;
font-weight:bold;
}

div.albumDrag_pop
{
position:absolute;
left:0px;
top:0px;
border-width:1px;
border-style:solid;
background-color:#FFFFFF;
width:100%;
opacity:0;
z-index:5;
}

div.userDrag_pop
{
position:absolute;
left:0px;
top:0px;
border-width:1px;
border-style:solid;
background-color:#FFFFFF;
width:100%;
z-index:5;
opacity:0;
}

form
{
margin-bottom:0px;
}

div.hidden 
{
position:relative;
width:100%;
height:100%;
overflow:hidden;
text-align:center;
}
div.hidden1
{
position:relative;
width:100%;
height:100%;
overflow:hidden;
text-align:center;

}


div.hidden2
{
position:relative;
width:100%;
height:100%;
overflow:hidden;
text-align:center;
}
div.overlay
{
position:relative;
top:0px;
left:0px;
width:800px;
height:100%;
overflow:hidden;
}
div.overlay1
{
position:relative;
top:-100%;
left:820px;
width:800px;
height:100%;
overflow:hidden;
}
div.overlay2
{
position:relative;
top:-200%;
left:1640px;
width:800px;
height:100%;
overflow:hidden;
}
div.glass
{
position:relative;
top:-100%;
width:100%;
left:0%;
height:100%;
opacity:0;
background-color:orange;
overflow:hidden;
}
div.background
{
position:relative;
left:-820px;
width:300%;
height:100%;
background-color:black;
overflow:hidden;
}
div.top
{
position:relative;
top:46px;
left:112px;
width:800px;
height:600px;
background-color:black;
overflow:hidden;
}

